services:
  jaeger:
    image: jaegertracing/all-in-one:1.58
    ports:
      - "16686:16686"    
      - "14268:14268"    
      - "6831:6831/udp"   
      - "6832:6832/udp"   

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

